{{define "content"}}
<div class="card bg-base-100 shadow-sm">
    <div class="card-body">
        <h2 class="card-title">Billing History</h2>
        <div class="divider mt-2"></div>
        <div class="overflow-x-auto">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th>Invoice No</th>
                        <th>Invoice Generated On</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Invoice Paid On</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Bills}}
                    <tr>
                        <td>{{.InvoiceNo}}</td>
                        <td>{{.GeneratedOn}}</td>
                        <td>{{.Desc}}</td>
                        <td>{{.Amount}}</td>
                        <td><span class="badge {{.Badge}}">{{.Status}}</span></td>
                        <td>{{.PaidOn}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}
