module {{.ProjectName}}

go 1.22

require (
	github.com/go-chi/chi/v5 v5.2.5
	gorm.io/gorm v1.25.12
	{{.Driver.GoModDep}}
{{- if .HasRBAC}}
	github.com/golang-jwt/jwt/v5 v5.2.1
	golang.org/x/crypto v0.33.0
{{- end}}
)
